{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  <div class="nxt-course__card">
    <a href="{{ card_product.url }}">
      <div class="nxt-course__image-container">
        {%- if card_product.featured_media -%}
          <img
            src="{{ card_product.featured_media | image_url: width: 273 }}"
            alt="{{ card_product.featured_media.alt | escape }}"
            class="nxt-course__image"
            {% unless lazy_load == false %}
              loading="lazy"
            {% endunless %}
            width="273"
            height="147"
          >
        {%- else -%}
          <img
            src="https://placehold.co/273x147"
            alt="{{ card_product.title | escape }}"
            class="nxt-course__image"
            width="273"
            height="147"
          >
        {%- endif -%}
      </div>

      <div class="nxt-course__content">
        <div class="nxt-course__badge">{{ card_product.metafields.custom.course_badge | default: 'Beginner' }}</div>

        <h3 class="nxt-course__title">{{ card_product.title | escape }}</h3>

        <div class="nxt-course__meta">
          {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
            <div class="nxt-course__rating">
              {{ card_product.metafields.custom.course_rating.value | default: 4.5 }}
              <svg class="nxt-course__star" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M7.30926 11.3833L3.19476 13.5463L3.98055 8.9653L0.651855 5.72031L5.25196 5.0513L7.30926 0.883301L9.36646 5.0513L13.9667 5.72031L10.638 8.9653L11.4238 13.5463L7.30926 11.3833Z" />
              </svg>
            </div>

            <div class="nxt-course__separator"></div>

            <div class="nxt-course__learners">{{ card_product.metafields.custom.learners }}</div>
          {%- else -%}
            <div class="nxt-course__rating">
              {{ card_product.metafields.custom.course_rating.value | default: 4.5 }}
              <svg class="nxt-course__star" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M7.30926 11.3833L3.19476 13.5463L3.98055 8.9653L0.651855 5.72031L5.25196 5.0513L7.30926 0.883301L9.36646 5.0513L13.9667 5.72031L10.638 8.9653L11.4238 13.5463L7.30926 11.3833Z" />
              </svg>
            </div>

            <div class="nxt-course__separator"></div>

            <div class="nxt-course__learners">
              {{ card_product.metafields.custom.learners | default: '29.5K Learners' }}
            </div>
          {%- endif -%}

          <div class="nxt-course__separator"></div>

          <div class="nxt-course__duration">
            {{ card_product.metafields.custom.course_duration | default: '1 hrs' }}
          </div>
        </div>

        <div class="nxt-course__price">
          {%- if card_product.price == 0 -%}
            FREE
          {%- elsif card_product.compare_at_price > card_product.price -%}
            {{ card_product.price | money }}
            <span class="compare-price">{{ card_product.compare_at_price | money }}</span>
          {%- else -%}
            {{ card_product.price | money }}
          {%- endif -%}
        </div>
      </div>
    </a>
  </div>
{%- else -%}
  <div class="nxt-course__card">
    <a href="#">
      <div class="nxt-course__image-container">
        <img src="https://placehold.co/273x147" alt="ChatGPT Course" class="nxt-course__image">
      </div>

      <div class="nxt-course__content">
        <div class="nxt-course__badge">Beginner</div>

        <h3 class="nxt-course__title">ChatGPT 101: What is ChatGPT?</h3>

        <div class="nxt-course__meta">
          <div class="nxt-course__rating">
            4.5
            <svg class="nxt-course__star" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M7.30926 11.3833L3.19476 13.5463L3.98055 8.9653L0.651855 5.72031L5.25196 5.0513L7.30926 0.883301L9.36646 5.0513L13.9667 5.72031L10.638 8.9653L11.4238 13.5463L7.30926 11.3833Z" />
            </svg>
          </div>

          <div class="nxt-course__separator"></div>

          <div class="nxt-course__learners">29.5K Learners</div>

          <div class="nxt-course__separator"></div>

          <div class="nxt-course__duration">1 hrs</div>
        </div>

        <div class="nxt-course__price">FREE</div>
      </div>
    </a>
  </div>
{%- endif -%}
