{% schema %}
{
  "name": "NXT Business Section",
  "tag": "section",
  "class": "nxt-business__section",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "For Business"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "Simplilearn Learning Hub+"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Get a learning library with unlimited live and interactive classes for your organisation, offering 700+ monthly classes across AI, technology, data, cloud, and other digital skills."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Explore Our Solutions"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "\/collections\/all"
    },
    {
      "type": "richtext",
      "id": "trusted_label",
      "label": "Trusted Label",
      "default": "<p>Trusted by Digital Leaders and Practitioners from <span>100+</span> Fortune 500 Companies</p>"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "header",
      "content": "Stats"
    },
    {
      "type": "text",
      "id": "stats_number",
      "label": "Stats Number",
      "default": "30%+"
    },
    {
      "type": "text",
      "id": "stats_text",
      "label": "Stats Text",
      "default": "revenue growth driving performance"
    },
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top Padding",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 124
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#00D7B9"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "trusted_logo",
      "name": "Trusted Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "NXT Business Section",
      "category": "Business",
      "blocks": [
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        },
        {
          "type": "trusted_logo"
        }
      ]
    }
  ]
}
{% endschema %}
{{ 'sa-business-section.css' | asset_url | stylesheet_tag }}
{% style %}
  .nxt-business__area {
    background-color: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top | times: 0.6 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.8 | round: 0 }}px;
    padding-left: 15px;
    padding-right: 15px;
  }
    @media (min-width: 768px) {
      .nxt-business__area {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    .nxt-business__section {
        overflow: hidden;
    }
{% endstyle %}

<div class="nxt-business__area">
  <div class="nxt-busines__container">
    <div class="nxt-busines__hero">
      <div class="nxt-busines__content">
        <div class="nxt-busines__badge">{{ section.settings.subheading }}</div>
        <h1 class="nxt-busines__title">{{ section.settings.heading }}</h1>
        <p class="nxt-busines__description">
          {{ section.settings.description }}
        </p>
        <a href="{{ section.settings.button_link }}" class="nxt-busines__cta">{{ section.settings.button_text }}</a>
      </div>

      <div class="nxt-busines__image-area">
        {% if section.settings.banner_image != blank %}
          <img
            src="{{ section.settings.banner_image | image_url: width: 841 }}"
            alt="Learning Hub Team"
            class="nxt-busines__main-image"
          >
        {% else %}
          <img src="https://placehold.co/550x550" alt="Learning Hub Team" class="nxt-busines__main-image">
        {% endif %}
        <div class="nxt-busines__pattern">
          <img src="{{ 'bg-pattern.svg' | asset_url }}" alt="Pattern" width="220" height="240">
        </div>

        <div class="nxt-busines__stats">
          <div class="nxt-busines__stats-card">
            <div class="nxt-busines__stats-number">{{ section.settings.stats_number }}</div>
            <div class="nxt-busines__stats-text">{{ section.settings.stats_text }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nxt-busines__partners">
  <div class="nxt-busines__partners-title">
    {{ section.settings.trusted_label }}
  </div>
  <div class="nxt-busines__logos">
    {% for block in section.blocks %}
      <div class="nxt-busines__logo">
        {% if block.settings.logo_image != blank %}
          <img src="{{ block.settings.logo_image | image_url: width: 205 }}" alt="{{ block.settings.logo_image.alt }}">
        {% else %}
          <img src="https://placehold.co/99x41" alt="BCG">
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
